<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up - Market</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <style media="screen"></style>
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form th:action="@{/signup}" th:object="${user}" method="post">
    <h3>Create account</h3>
    <p th:text="${message}"></p>

    <label for="name">Name</label>
    <input type="text" placeholder="Name" id="name" th:field="*{name}">

    <label for="login">Username</label>
    <input type="text" placeholder="Username" id="login" th:field="*{login}">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" th:field="*{password}">

    <button>Sign up</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
    <p class="log-in">Already have account?<span class="whitespace"></span><b><a href="/login">Log in</a></b></p>
</form>
</body>
</html>
